:root {
    --side-nav-bar-width: 240px;
    --side-nav-bar-low-res-width: 70px;
    --header-height: 70px;
    --primary-bg: #411465;
    --purple-primary: #ed2b91;
    --alpha-bg: hsla(0,0%,100%,0.1);
    --white-color: #ffffff;
    --black-color: #32323d;
    --navigation-text: #dadada;
    --text-item-hover: #ffffff;
    --link-text-hover: #fe63da;
    --btn-nav-background: #ffdb00;
    --yellow: #f8e71c;
    --black: #32323d;
    --nav-add-new-playlist-height: 54px;
    --border-primary: hsla(0,0%,100%,0.1);
    --sidebar-popup-bg: #572f90;
    --text-placeholder: #dadada;
    --gray: #dbdbdb;
    --layout-bg: #37075d;
    --tab-active-bg: hsla(0,0%,100%,0.3);
    --border-box: hsla(0,0%,100%,0.2);
    --text-secondary: hsla(0,0%,100%,0.5);
    --player-height: 90px; 
    --popup-bg: #6a39af;
    --dark-alpha-80: rgba(0,0,0,0.8);
    /* logo */
    --img-logo-mp3: url(/image/logo/logo1.svg);
    --img-logo-mp3-low-res: url(/image/logo/logo2_lowreso.svg);
    /* Background */
    --zing-background: url(/image/background/zingbg1.svg);
    --player-background: url(/image/background/playerbg.png);
    /* Icon */
    --avt-image: url(/image/logo/avt2.jpg);
}

button {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.btn {
    padding: 6px 35px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 999px;
}

.divide-line {
    position: relative;
}

.divide-line:after{
    content: "";
    position: absolute;
    height: 1px;
    width: 80%;
    background: rgba( 255, 255, 255, .1);
    left: 50%;
    transform: translateX(-50%);
}

/* width */
::-webkit-scrollbar {
    width: 2px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }